.box2 {
  display: flex;
  align-items: center;
  padding: 0px 100px 50px 680px;
  margin-bottom: 30px;
}
.vac-big {
  display: flex;
  align-items: center;
  gap: 30px;
  border-bottom: 2px solid black;
  padding-right: 100px;
  padding-bottom: 10px;
  padding-left: 10px;
  cursor: pointer;
}
.vac-num {
    font-weight: 600;
    font-size: 20px;
    line-height: 27px;
  color: #28c79e;
}
.vac-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  color: #1B2330;
}
.vac-text2{
    font-weight: 600;
    font-size: 18px;
    line-height: 27px;
  color: #8B8B8B;
}
